<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="background: #000000;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ShakeCities</title>
    <meta name="twitter:image" content="https://shakecities.com/assets/img/alexander-slattery-LI748t0BK8w-unsplash.webp">
    <meta name="twitter:title" content="ShakeCities">
    <meta property="og:title" content="ShakeCities">
    <meta property="og:image" content="https://shakecities.com/assets/img/alexander-slattery-LI748t0BK8w-unsplash.webp">
    <meta name="description" content="Embrace the future of web ownership with ShakeCities! Create your free, personalized Handshake domain website, secured with HTTPS powered by DANE. Easily integrate crypto addresses for payments and explore HNSChat and Varo auth. Join us in building a decentralized and innovative internet landscape. Experience simplicity and security at ShakeCities!">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Embrace the future of web ownership with ShakeCities! Create your free, personalized Handshake domain website, secured with HTTPS powered by DANE. Easily integrate crypto addresses for payments and explore HNSChat and Varo auth. Join us in building a decentralized and innovative internet landscape. Experience simplicity and security at ShakeCities!">
    <meta name="twitter:description" content="Embrace the future of web ownership with ShakeCities! Create your free, personalized Handshake domain website, secured with HTTPS powered by DANE. Easily integrate crypto addresses for payments and explore HNSChat and Varo auth. Join us in building a decentralized and innovative internet landscape. Experience simplicity and security at ShakeCities!">
    <meta name="twitter:card" content="summary">
    <link rel="icon" type="image/png" sizes="670x700" href="assets/img/HNS.png">
    <link rel="icon" type="image/png" sizes="670x700" href="assets/img/HNSW.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="670x700" href="assets/img/HNS.png">
    <link rel="icon" type="image/png" sizes="670x700" href="assets/img/HNSW.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="670x700" href="assets/img/HNS.png">
    <link rel="icon" type="image/png" sizes="670x700" href="assets/img/HNS.png">
    <link rel="icon" type="image/png" sizes="670x700" href="assets/img/HNS.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body style="background: #000000;color: #ffffff;margin: auto;width: 95%;">
    <section>
        <section style="height: 15vh;background: url(&quot;assets/img/alexander-slattery-LI748t0BK8w-unsplash.webp&quot;) bottom / cover no-repeat;min-height: 130px;"></section>
        <section class="d-print-none d-lg-none d-xl-none d-xxl-none" style="width: 30vw;border-radius: 50%;background: #000000;padding: 20px;height: 30vw;margin: auto;margin-top: -15vw;display: flex;"><a href="/"><img class="img-fluid" src="assets/img/HNSW.png" width="100%"></a></section>
        <section class="d-print-none d-lg-none d-xl-none d-xxl-none" style="display: block;width: 100%;text-align: center;margin-top: 10px;">
            <div style="display: inline-block;margin: auto;"><a class="btn btn-primary" role="button" style="margin: 10px;" href="/signup">Create your page</a><a class="btn btn-primary" role="button" style="margin: 10px;" href="/{{account_link}}">{{account_link_name}}</a></div>
        </section>
        <section class="d-none d-print-block d-lg-block d-xl-block d-xxl-block" style="display: block;">
            <div style="width: 100%;text-align: right;margin-top: -4em;"><a class="btn btn-primary" role="button" style="margin: 10px;" href="/signup">Create a new page</a><a class="btn btn-primary" role="button" style="margin: 10px;" href="/{{account_link}}">{{account_link_name}}</a></div>
        </section>
        <section class="d-none d-print-block d-lg-block d-xl-block d-xxl-block" style="width: 15vw;border-radius: 50%;background: #000000;padding: 20px;height: 15vw;margin: auto;display: flex;margin-top: -6vw;"><a href="/"><img class="img-fluid" src="assets/img/HNSW.png" width="100%"></a></section>
        <section class="d-none d-print-block d-lg-block d-xl-block d-xxl-block" style="height: 3em;"></section>
    </section>
    <section style="margin-top: 50px;text-align: center;">
        <h1>Welcome to ShakeCities</h1>
        <p>Congratulations your site is ready for use.<br><br></p>
        <div style="max-width: 10em;margin: auto;"><a class="btn btn-primary" role="button" href="https://{{site}}" style="display: block;margin: 10px;" target="_blank">Visit your site</a><a class="btn btn-primary" role="button" href="/edit" style="display: block;margin: 10px;">Edit your site</a><a class="btn btn-primary" role="button" href="/hnschat" style="display: block;margin: 10px;">Link HNSChat</a><a class="btn btn-primary" role="button" href="/logout" style="display: block;margin: 10px;">Logout</a></div>
    </section>
    <section style="margin: 20px;height: 40px;text-align: center;margin-top: 40px;">
        <div>
            <p style="color: #ffffff;">Copyright © ShakeCities 2023</p>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>